
<div ng-controller="AppCtrl">
  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span><a ui-sref="app.home">Airbook</a></span> </h2>
        <span flex></span>

        <h3><span><a ui-sref="app.books">books</a></span></h3>
        <span flex></span>


        <md-button ui-sref="modal.cart"> Cart </md-button>
        <md-button ui-sref="modal.wish"> Wishlist </md-button>

        <md-button ng-if="!appUser.username"><a ui-sref="modal.login">Login</a></md-button>
        <span class="navbar-text">{{appUser.username}}</span>
        <md-button ng-if="appUser.username"> <a ng-click="logout()">Logout</a></md-button>
    </md-toolbar>
  </md-content>
</div>
