<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper" >
    <a class="brand-logo center" ui-sref="app.home">Airbook</a>

      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li class="active"><a ui-sref="app.books">books</a></li>
      </ul>


      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a ui-sref="modal.cart">Cart</a></li>
        <li><a ui-sref="modal.wish">Wishlist</a></li>


        <li ng-if="!appUser.username"><a ui-sref="modal.login">Login</a></li>
        <span class="navbar-text">{{appUser.username}}</span>
        <li ng-if="appUser.username"> <a ng-click="logout()">Logout</a></li>
      </ul>

  </div>
</nav>
</div>
