<div class="panel">
    <div class="panel-body">
        <form novalidate>
            <div class="form-group">
                <label>Prezzo</label>
                <slider range="true" min="0" max="1000" step="5" ng-model="rangeFilter" on-stop-slide="updatePriceRange()"></slider>

            </div>
            <div class="form-group">
                <label >Titolo</label>
                <input type="text" class="form-control" placeholder="titolo" ng-model="filters.title_contains">
            </div>
            <!--
            <div>
                <button class="btn btn-default" ng-click="search()">Cerca</button>

            </div>
            -->

        </form>
    </div>
</div>


<div class="row" infinite-scroll="updateBooks()" infinite-scroll-distance="2" infinite-scroll-disabled="!metadata.next">
    <div class="col col-md-3" ng-repeat="book in books">
        <div class="panel panel-default">
            
            <div class="panel-body">
                <div>
                    <img class="book-list-image" ng-src="{{book.images[0].image_thumb}}" alt="">
                </div>
                <b>{{book.title}}</b>
                <div>
                    € {{ book.price|number:2 }}
                </div>
                <div>
                    {{ book.description }}
                </div>
                <div>
                    <span ng-repeat="author in book.authors">
                        {{author.author}}
                    </span>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-right">{{book.bookshop_name}}</span>
                <div class="clearfix"></div>
            </div>
        </div>
        
    </div>
</div>