<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"  ng-click="dismiss()">×</button>


  <h4 class="modal-title">{{book.title}}</h4>
      </div>
      <div class="modal-body">
        <p><img class="book-list-image" ng-src="{{book.images[0].image_thumb}}" alt=""></p>
        <p>{{book.description}}</p>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dismiss()">Close</button>

</div>
